# Build outputs
*.apk
*.aab
*.dex
*.class
*.idsig
build/
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Signing
*.keystore
*.b64
keystore.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Generated
*.log
